# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore macOS system files
.DS_Store

# Ignore build or compiled files
/dist/
/build/

# Ignore package-lock.json or yarn.lock (depending on your package manager)
package-lock.json
#yarn.lock