/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;300;500&display=swap'); */

@font-face {
    font-family:'Roboto';
    src:url('./Roboto-Regular.ttf') format('truetype'),
    url('./Roboto-LightItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
    border:solid 1px red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Helvetica, sans-serif ;
    list-style: none;
    font-size: 1rem;
}
.hello{
    width:100%;
    color:red;
    font-family:'Roboto';
    display: flex;
    flex-wrap: wrap;
    
}
h1,h2,h3,h4,h5,h6,p,div{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    /* height: 768px; */
    margin:auto;
    margin-top:15px;
    background-color: aliceblue;
    box-shadow: 0px 0px 4px #999;
}
#top-bar{
    width:100%;
    display: flex;
    background-color: ghostwhite;
}
#logo{
    background-image: url('./icon.jpg');
    width:65px;
    height: 60px;
    background-size: contain;
    margin: 5px 10px;
    border-radius: 50px;
    background-position-y: -1px;
}
#header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: end;
    /* margin: 0px 5px 0px 10px; */
}
#side-bar-container{
    background-color: antiquewhite;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#side-bar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    width:100%;
}
#nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
#home-menu{
    width:100%;

}
.home-menu-item{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    
}
.home-menu-item-span{
    padding: 0 0 0 50px;
}
#project-menu{
width: 100%;
}
.project-menu-item{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#notes{

}
#added-note{

}
#add-new{

}
#main{
width: 80%;
background-color: #9e9e9e1f;
padding:20px;
}
.main-header{
    padding: 15px 0 0 10px;
}
#users-todo-list{
margin: 20px;
}
.todo-items{
margin: 10px 0px;
padding:20px;
background-color: azure;
border: solid 1px #9999994d;
border-left: 10px solid red;
height: 50px;
}
#create-new{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    /* height: 350px; */
    position: absolute;
    top: 10vh;
    left: 20vw;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    padding:15px;
}
#top-bar-todo{
    display: flex;
    flex-wrap: wrap;
}
#header-todo{
    width: 95%;
}
#close{
    width:5%;
}
#side-bar-create-new{
    width: 20%;
    height: 325px;
    padding: 10px;
    background-color: #f8d5db;
    margin-right: 5px;
}
#nav-container-todo{
   
}
#home-menu-todo{

}
.menu-item-todo{
    margin: 15px 0;
}
#main-create-new{
    width: 79%;
}
#textarea{
width:100%;
height:68%;
}
#textarea-title{
width:100%;

}
#create-new-menu{

}
#due-date{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
#full-date{

}
#priority{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#priority-sub-1{
    
}
#priority-sub-2{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* width:25%; */
}
#low{
    margin-left: 5px;
    border: 3px solid yellow;
    /* color: yellow; */
    padding: 3px;
    border-radius: 5px;
}
#medium{
    margin-left: 5px;
    border: 3px solid orange;
    /* color: orange; */
    padding: 3px;
    border-radius: 5px;
}
#high{
    margin-left: 5px;
    border: 3px solid red;
    /* color: red; */
    padding: 3px;
    border-radius: 5px;
}
#add-to-do{

}